.event {
  border-radius: 10px;
  transition: 0.5s;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  padding: 5px 50px;
  margin-top: 5px;
  margin-bottom: 5px;

  border: black 5px solid;
}

.event-title {
  font-weight: 500;
}

.time {
  font-weight: 300;
}

.icon {
  font-size: 20px;
}

.description {
  font-size: 15px;
  max-width: 100%;
  font-weight: 300;
}
